html *{
    padding: 0;
    margin: 0;
}
.HolyGrail{
    min-height: 100vh;
    /* background:white; */
    display: flex;
    flex-direction: column;
    background: #F7F7F7;
}
header{
    flex: 0 0 60px;
    background: #333333;
    font-size: 25px;
    line-height: 60px;
    padding-left: 20px;
    color: #E6E6E6;
}
footer{
    text-align: center;
    flex: 1;
    color: grey;
}
.HolyGrail-body{
    display: flex;
    flex: 0 0 610px;
}
.HolyGrail-content{
    flex: 1;
    margin: 20px;
    text-align: center;

}
.HolyGrail-nav, .HolyGrail-ads {
    /* 两个边栏的宽度设为12em */
    flex: 0 0 200px;
    background: #F7F7F7;
}
.HolyGrail-nav {
/* 导航放到最左边 */
order: -1;
}

#table thead th{
    background: #B3B3B3;
    color: black;
}
#table{
    margin: 20px auto;
    width: 95%;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: aliceblue;
}
/* Padding and font style */
#table td, #table th {
    padding: 5px 10px;
    font-size: 13px;
    font-family: Verdana;
    color: grey;
}
/* Alternating background colors */
#table tr:nth-child(even) {
    background: #E6E6E6;
}
#table tr:nth-child(odd) {
    background: aliceblue;
}